@charset "utf-8";
/* CSS Document */

body, html {
	margin: 0;
	font-family: "Times New Roman", Times, serif;
}

p {
	clear: both;
	font-size: 10pt;
	text-align: justify;
}

ul {
	list-style: none;
}

.contenido {
	background: url(../images/fondo_pdf.jpg) no-repeat center 60pt;
}

.titulo1, .titulo2 {
	text-align: right;
}

.titulo1 {
	font-weight: bold;
	margin-bottom: 20pt;
}

.fecha {
	margin-bottom: 40pt;
	text-align: right;
}

.remitente {
	float: left;
	width: 380pt;
	margin-bottom: 25pt;
	font-weight: bold;
}

.qr {
	float: right;
	margin-top: -20pt;
	width: 70pt;
}

.lista {
	padding-left: 20pt;
}

.firma {
	margin-top: 45pt;
	font-weight: bold;
}

.footer {
	font-size: 8pt;
	text-align: center;
}